*{
    margin: 0;
    padding: 0;
    font-family:tahoma;
}
html{
    scroll-behavior: smooth;
}
.fixed{
    max-width: 1150px;
    margin: auto;
}
.clearfix:after{
    content: " ";
    clear: both;
    display: block;
}
header{
    background: #FF2956;
    color: white; 
    position: sticky;
    left: 0;
    top: 0;
}
.transparent{
    background: rgb(8, 8, 8, 0.6);
    color: white; 
    position: sticky;
    left: 0;
    top: 0;
    color: yellow;
}
.logo{
    display: inline-block;
}
.logo img{
    height: 44px;
    width: 65px;
    margin-top: 0px;
    cursor: pointer;
}
.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.menu li{
    display: inline-block;
}
.menu li a{
    display:block;
    padding: 16px 12px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    z-index: 1;
    margin-left: -4px;
}
.menu li a:hover{
    color: #41454e;;
}
.menu li a:before{
    position: absolute;
    content: " ";
    height: 0;
    width: 100%;
    top: 0;
    left: 0;
    background: white;
    transition: 0.3s;
    z-index: -1;
}
.menu li a:hover::before{
    height: 100%;
}

#click{
    display: none;
}
.toggle-icon{
    height: 22px;
    width: 30px;
    position: fixed;
    top: 12px;
    right: 30px;
    display: none;
    border-radius: 2px;
    cursor: pointer;
}
.spinner{
    height: 3px;
    width: 75%;
    margin: auto;
    background:white;
    margin-top: 5px;
    transition: all 0.3s;
} 
.mobile-menu{
    display: none;
}
.banner{
    background: url('banner.webp') center center;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 250px 0px;
    text-align: center;
}
.banner-title{
    color: rgb(7, 252, 150);
}
.banner-title h2{
    background: rgba(10, 10, 10,0.3);
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
}
.banner-title p{
    background: rgba(52, 144, 219,0.4);
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
}
.service{
    padding: 50px 0px;
}
.service-head{
    margin-bottom: 50px;
    text-align: center;
    color: #30336b;
}
.service-head::before{
    content: " ";
    height: 3px;
    width: 150px;
    margin: auto;
    display: block;
    background: #30336b;
    transform: translateY(40px);
}
.service-head::after{
    content: " ";
    height: 8px;
    width: 30px;
    margin: auto;
    display: block;
    background: #30336b;
    transform: translateY(5px);
}
.service-box{
    float: left;
    width: 32%;
    text-align: center;
    padding: 0px 5px;
}
.service-box .fa{
    font-size: 60px;
    color: #3490db;
}
.service-box h3{
    margin: 10px 0px;
}
,.service-box p{
    text-align: justify;
}
.progress{
    padding: 50px 0px;
    background: rgb(235, 243, 243);
}
.progress h3{
    margin-bottom: 10px;
    margin-left:10%;
    color: #3490db;
}
.progress .shadow{
    height: 20px;
    width: 80%;
    border-radius: 12px;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 15px purple;
    margin-bottom: 30px;
}
.shadow .main1{
    height: 20px;
    width:95%;
    border-radius: 12px;
    box-sizing: border-box;
    background: rgb(97, 1, 97);
    text-align: right;
    color: cyan;
    animation: main1 2s;
}
.shadow .main2{
    height: 20px;
    width:90%;
    border-radius: 12px;
    box-sizing: border-box;
    background: rgb(97, 1, 97);
    text-align: right;
    color: cyan;
    animation: main2 2s;
}
.shadow .main3{
    height: 20px;
    width:70%;
    border-radius: 12px;
    box-sizing: border-box;
    background: rgb(97, 1, 97);
    text-align: right;
    color: cyan;
    animation: main3 2s;
}
.shadow .main4{
    height: 20px;
    width:80%;
    border-radius: 12px;
    box-sizing: border-box;
    background: rgb(97, 1, 97);
    text-align: right;
    color: cyan;
    animation: main4 2s;
}

@keyframes main1 {
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
}
@keyframes main2 {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes main3 {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes main4 {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
.testimonial{
    background: url("testimonial.webp") center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.testimonial .service-head{
    color: white;
}
.remark{
    float: left;
    width: 45%;
}
.remark:last-child{
    margin-left: 70px;
}
.remark img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 15px 0px;
}
.counter-up{
    width: 100%;
    padding: 50px 0px;
}
.n-box{
    display: inline-block;
    width: 25%;
    color: tomato;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
.n-box .fas{
    color: rebeccapurple;
    font-size: 50px;
    margin-bottom: 10px;
}
.n-box p{
    font-size: 25px;
    color: royalblue;
}
.form{
    padding: 50px 0px;
    color: rgb(59, 2, 112);
}

.form1{
    display: inline-block;
    float: left;
    width: 50%;
}
.form2{
    display: inline-block;
    width: 50%;
    float: right;
}
.input-width{
    width: 80%;
    height: 20px;
    text-indent: 8px;
    font-size: 15px;
    display: block;
    border: none;
    background: transparent;
    border-bottom: 3px solid white;
}
.input-width:focus, .input-width:active{
    border: none;
    outline: none;
    border-bottom: 3px solid rgb(59, 2, 112);
    height: 25px;
}
textarea{
    width: 80%;
    height: 100px;
    text-indent: 8px;
    font-size: 15px;
    display: block;
    margin-bottom: 20px;
}
label{
    font-size: 18px;
    display: inline-block;
    padding-bottom: 8px;
    font-weight: bold;
}
.submit{
    padding: 10px 12px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    background: green;
    color: white;
    cursor: pointer;
}
.submit:hover{
    background: darkgreen;
}
.reset{
    padding: 10px 12px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    background: red;
    color: white;
    display: inline-block;
    cursor: pointer;
    margin-left: 15px;
}
.reset:hover{
    background: darkred;
}
.news{
  padding: 50px 0px;
}
.recent-news{
    width:50%;
    display: inline-block;
    float: left;
}
.recent-news img{
    width: 80%;
    height: 200px;
}
.recent-news h4{
    margin: 10px 0px;
    color: rgb(253, 66, 33);
}
.post-date .fa{
    color: #3490db;
}
.post-date i{
    padding-right: 8px;
}
.recent-news p{
    margin: 8px 0px;
    margin-bottom: 20px;
}
.recent-news a{
    text-decoration: none;
    padding: 10px 12px;
    background: tomato;
    border-radius: 5px;
    color: aliceblue;
}
.recent-news a:hover{
    background: rgb(189, 32, 4);
}
.footer-bar{
    background: rgb(63, 62, 62);
    color: white;
}
.footer-bar h3{
    text-decoration: underline;
    margin-bottom: 10px;
}
.about{
    float: left;
    width: 60%;
    padding-right: 30px;
}
.footer{
    background: rgb(48, 44, 44);
}
.copyright{
    font-size: 20px;
    color: rgb(238, 84, 115);
    float: left;
    padding: 12px 0px;
}
.social-icons{
    float: right;
}
.social-icons .fab{
    color: cyan;
    background: rgb(63, 62, 62);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 15px;
    line-height: 20px;
    padding: 8px;
    text-align: center;
    margin-left: 10px;
    margin-top: 8px;

}
.up{
    height: 50px;
    width: 50px;
    background: rgb(23, 247, 235);
    border-radius: 50%;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
    color:blue;
    line-height: 42px;
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.social-icons .fab:hover{
    color: rgb(63, 62, 62);
    background: cyan;
}
@media(max-width:1179px){
    .fixed{
        max-width: 96%;
        margin: auto;
        display: block;
    }
}
@media(max-width:992px){
    .service-box{
        padding: 0px 3px;
    }
@media(max-width:768px){
    .service{
        padding: 30px 0px;
    }
    .toggle-icon{
        display: inline-block;
    }
    .menu{
        display: none;
    }
    .mobile-menu{
        display: none;
        position: fixed;
        top: 51px;
        left: 20px;
        width: 90%;
        height: auto;
        background: #30336b;
        transform: scaleY(0);
    }
    .mobile-menu ul li{
        display: block;
        border-top: 1px solid white;
    }
    .mobile-menu ul li:first-child{
        border-top: 3px solid #34e7e4;
    }
    .mobile-menu ul li a{
        font-size: 16px;
        display: block;   
        font-weight: 500;
        padding: 10px;
        text-decoration: none;
        color: #34e7e4;
    }
    .mobile-menu ul li a:hover{
        background: #130f40;
        transform: scaleY(1);
    }
    #click:checked ~ .mobile-menu{
        display: block;
    }
    #click:checked ~ .toggle-icon > .sp-mid{
        margin-right: -999px;
    }
    #click:checked ~ .toggle-icon > .sp-top{
        transform: rotate(-135deg);
        margin-top: 10px;
    }
    #click:checked ~ .toggle-icon > .sp-bot{
        transform: rotate(135deg);
        margin-top: -11px;
    }
    .service-box{
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .remark{
        width: 100%;
        float: none;
        margin-bottom: 20px;
        text-align: center;
    }
    .remark:last-child{
        margin-left: 0px;
        margin-top: 40px;
    }
    .counter-up{
        padding: 30px 0px;
    }
    .n-box{
        width: 50%;
        margin-bottom: 50px;
        display:inline-block;
    }
    .n-box .fas{
        margin-bottom: 5px;
    }
    .fixed{
        max-width: 95%;
        margin: auto;
        display: block;
    }
    .form{
        padding: 30px 0px;
    }
    .form1{
        width: 100%;
        float: none;
        padding-left: 10px;
    }
    .form2{
        width: 100%;
        float: none;
        padding-left: 10px;
    }
    .news{
        padding: 30px 0px;
        text-align: center;
    }
    .recent-news{
        width: 100%;
        float: none;
        margin: auto;
        display: block;
        margin-bottom: 30px;
    }
    .about{
        width: 100%;
        float: none;
        text-align: center;
        margin-bottom: 40px;
    }
    .address{
        width: 100%;
        text-align: center;
    }
    .copyright{
        width: 100%;
        float: none;
        text-align: center;
        margin-top: 0;
        padding-top: 10px;
    }
    .social-icons{
        width: 100%;
        float: none;
        text-align: center;
        padding-bottom: 10px;
    }
    .social-icons .fab{
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 4px;
    }
}
@media(max-width:404px){
    .fixed{
        max-width: 98%;
        margin: auto;
    }
    .banner{
        padding: 150px 0px;
    }
    .banner-title h2{
        font-size: 20px;
    }
    .banner-title p{
        font-size: 14px;
    }
    .menu li a{
        font-size: 13px;
        padding: 3px;
        margin: 5px 0px;
    }
    .n-box{
        width: 100%;
    }
    .up{
        height: 30px;
        width: 30px;
        font-size: 15px;
        line-height: 28px;
        right: 15px;
        bottom: 15px;
    }
}
